#!/bin/bash

# Rename backup file.
if [[ -n "$DB_DUMP_DEBUG" ]]; then
  set -x
fi

cd /${DUMPDIR}

if [ -e ${DUMPFILE} ];
then
        mkdir -p /${DUMPDIR}/uncompressed
        cp ${DUMPFILE} /${DUMPDIR}/openstack2_db_backup.gz
        rm -f /${DUMPDIR}/uncompressed/openstack2_db_backup
        cd /${DUMPDIR}/uncompressed
        gunzip -c /${DUMPDIR}/openstack2_db_backup.gz > /${DUMPDIR}/uncompressed/openstack2_db_backup
        rm -f /${DUMPDIR}/openstack2_db_backup.gz
else
  echo "ERROR: Backup file ${DUMPFILE} does not exist!"
fi
